<header ng-controller="NavbarCtrl">
    <div class="navbar-fixed">
        <nav class="greenSlr">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" data-activates="nav-mobile" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
                    <a href="#" class="brand-logo center" style="background: url(../assets/images/logo-slr.svg) no-repeat;background-size: contain;">Logo</a>
                    <a class="right dropdown-button" href="#!" data-activates="dropdown1"><i class="mdi-navigation-more-vert"></i></a>
                    <ul id="dropdown1" class="dropdown-content">
                        <li>
                            <a href="#!">Todas as postagens <span class="labelCustom">breve</span></a>
                        </li>
                        <li>
                            <a href="#!">Minhas postagens <span class="labelCustom">breve</span></a>
                        </li>
                        <li>
                            <a href="#!">Via SLR++ <span class="labelCustom">breve</span></a>
                        </li>
                        <li class="active">
                            <a href="#!">Via Twitter</a>
                        </li>
                        <li>
                            <a href="#!">Via Facebook <span class="labelCustom">breve</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!">Configurações de Privacidade <span class="labelCustom">breve</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <ul id="nav-mobile" class="side-nav" style="left: -250px;">
        <li class="logo greenSlr">
            <a id="logo-container" style="background:url(../assets/images/logo-slr.svg) no-repeat;background-size: contain;" href="#">logo</a>
        </li>
        <li>
            <a href="/" class="collapsible-header waves-effect waves-teal">
                <i class="mdi-action-home"></i>
                <span>Início</span>
            </a>
        </li>
        <li>
            <a href="/about" class="collapsible-header waves-effect waves-teal">
                <i class="mdi-action-announcement"></i>
                <span>Sobre</span>
            </a>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal">
                <i class="mdi-maps-place"></i>
                <span>Vagas por Estados</span>
                <span class="labelCustom">breve</span>
            </a>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" title="Vagas por Cidade">
                	<i class="mdi-maps-my-location"></i>
                    <span class="labelCustom premium">premium</span>
                    <span class="labelCustom">breve</span>
                </a>
        </li>
        <li>
            <a href="#" class="collapsible-header waves-effect waves-teal" title="Vagas por Departamentos">
                <i class="mdi-social-group"></i>
                <span class="labelCustom">breve</span>
            </a>
        </li>
        <li>
            <a href="/" class="collapsible-header waves-effect waves-teal" title="Vagas por Cargo">
                	<i class="mdi-social-person"></i>
                    <span class="labelCustom premium">premium</span>
                    <span class="labelCustom">breve</span>
                </a>
        </li>
        <li>
            <a href="/" class="collapsible-header waves-effect waves-teal" title="Seja Premium">
                <i class="mdi-image-tag-faces"></i>
                <span class="labelCustom premium">premium</span>
                <span class="labelCustom">breve</span>
           </a>
        </li>
        <li>
            <a href="/" class="collapsible-header waves-effect waves-teal">
                <i class="mdi-action-settings"></i>
                <span>Configurações</span>
                <span class="labelCustom">breve</span>
            </a>
        </li>
        <li class="profileLink">
            <a href="/" class="collapsible-header waves-effect waves-teal">
                <i class="mdi-social-person"></i>
                <span>Meu Perfil</span>
                <span class="labelCustom">breve</span>
            </a>
        </li>
    </ul>
</header>