


<header class="hero-unit" id="banner" data-ng-if="awesomeThings.length == 0">
  <div class="container">
    <h1>Aguarde, ainda não falaram nada sobre #vagas!</h1>
  </div>
</header>

<div class=""data-ng-if="awesomeThings.length > 0">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="thing in awesomeThings">
          <div class="thumbnail">
            <img data-ng-if="thing.extended_entities" src="{{thing.extended_entities.media[0].media_url_https}}">
            <div class="caption">
              <h3>{{thing.text}}</h3>
                <p>
                  <span>
                    <img src="{{thing.user.profile_image_url_https}}" alt="{{thing.user.name}}">
                  </span>
                  <a href="https://twitter.com/{{thing.user.screen_name}}" target="_blank">
                    @{{thing.user.screen_name}}
                  </a> 
                </p>
                <p data-ng-if="thing.place">
                  em {{thing.place.full_name}}
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


